@font-face {
    font-family: 'early_gameboyregular';
    src: url('./fonts/early_gameboy-webfont.woff2') format('woff2'),
         url('./fonts/early_gameboy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#canvas {
    background-color: black;
    display: block;
}

* { 
    margin:0; 
    padding:0; 
} 

html, body { 
    width:100%; 
    height:100%; 
} 

.game-border-top{
    background-color: #383b41;
    border-top: 0.5px solid #818488; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 22px;
}

.game-border-top p {
    color: lightgray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8rem;
    text-align: center;
    padding-top: 3px;
    letter-spacing: 0.8px;
}

.game-border-bottom{
    background-color: #181818;
    color: #a6a6a6;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.7rem;
    text-align: center;
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.game-border-bottom img {
    width: 40px;
    padding: 0 25px;
}

.icons {
    display: flex;
}

.icons.div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.game-border-bottom button {
    /* margin-right: 30px; */
    background-color: dodgerblue;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#first-icons img{
    padding: 0 10px 0 16px;
}

@media (max-width: 785px) {
    .game-border-bottom div:nth-child(2) div:nth-child(2), 
    .game-border-bottom div:nth-child(2) div:nth-child(3) {
        display: none;
    }
}

@media (max-width: 630px) {
    .game-border-bottom div:nth-child(2) div:nth-child(2), 
    .game-border-bottom div:nth-child(2) div:nth-child(3),
    .game-border-bottom div:nth-child(2) div:nth-child(4) {
        display: none;
    }
}


