
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@500&family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

/* general  */
* { 
    margin:0; 
    padding:0; 
} 

html, body { 
    width:100%; 
    height:100%; 
} 

button:focus {
    outline:0;
}

#container {
    position: relative;
}

/* start screen elements */
#start-screen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    /* opacity: 0.8; */
    border: none;
}

#nav-bar{
    width: 100%;
    height: 60px;;
    background-color: white;
    border-bottom: 1.5px solid rgb(233, 231, 231);
}

#nav-title {
    color: #1a8090;
    text-align: left;
    padding: 22px 0 0 40px;
    font-family: 'Slackey';
    font-size: 16px;
}

#middle-part {
    background-color: #e8f2f7;
    width: 75%;
    height: 75%;
    margin: 5% 12.5% 0 12.5%;
    padding: 20px 50px;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

h1 {
    font-family: 'Slackey';
    color: #1a8090;
    text-align: center;
    font-size: 60px;
    line-height: 95%;
    /* margin: 0 20% 5% 20%; */
    /* padding-top: 75px; */
}

#middle-part p {
    font-family:  'Open Sans', sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 19px;
    /* margin: 0% 18% 3% 18%; */
    line-height: 200%;
    color: gray;
}

#middle-part h3 {
    font-family:  'Open Sans', sans-serif;
    text-align: center;
    font-size: 15px;
    /* margin: 5% 12% 3% 10%; */
    line-height: 200%;
    color: #1a8090;
    font-weight: 400;
}

#start-screen button {
    font-family: 'Open Sans';
    font-size: 16px;
    background-color: transparent;
    border: 1px solid #ef861f;
    padding: 20px 30px;
    color:#ef861f;
    border-radius: 30px;
    /* margin: 30px 0; */
    text-decoration:  none;
    /* position: absolute; */
    /* left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
}

/* loading screen */
#div-images{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#middle-part img {
    width: 350px;
    margin: 40px 0 0 0;
}

#middle-part h2{
    font-family:  'Open Sans', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin: 5% 12% 3% 10%;
    padding-top: 130px;
    line-height: 200%;
    color: gray;
}

#middle-part h4 {
    font-family:  'Open Sans', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    margin: 5% 12% 3% 10%;
    padding-top: 50px;
    line-height: 200%;
    color: gray;
}


/* canvas */
#canvas {
    background-color: black;
    display: block;
    cursor: url(./icons/cursor_spaghetti.cur), url(./icons/cursor_spaghetti.png), none;
}

/* top border breakout room */
.game-border-top{
    background-color: #383b41;
    border-top: 0.5px solid #818488; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 22px;
}

.game-border-top p {
    color: lightgray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8rem;
    text-align: center;
    padding-top: 3px;
    letter-spacing: 0.8px;
}

/* breakout room buttons */
.game-border-bottom{
    background-color: #181818;
    color: #a6a6a6;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.7rem;
    text-align: center;
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.game-border-bottom img {
    width: 40px;
    padding: 0 25px;
}

.icons {
    display: flex;
}

.icons.div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.game-border-bottom button {
    /* margin-right: 30px; */
    background-color: #1a8090;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#first-icons img{
    padding: 0 10px 0 16px;
}


@media (max-width: 650px) {
    .game-border-bottom div:nth-child(2) div:nth-child(2), 
    .game-border-bottom div:nth-child(2) div:nth-child(3),
    .game-border-bottom div:nth-child(2) div:nth-child(4) {
        display: none;
    }

    #middle-part {
        width: 80%;
        height: 82%;
        margin: 5% 10% 0 10%;
    } 

    h1{
        font-size: 35px;
        margin: 10% 20% 10% 20%;
        padding-top: 45px;
    }

    #middle-part p {
        font-size: 16px;
        margin: 0 13% 2% 13%;
    }
    #middle-part h3 {
        font-size: 13px;
        margin: 10% 12% 7% 10%;
    }

    #start-screen button {
        font-size: 14px;
        padding: 18px 30px;
    }

    #div-images{
        flex-direction: column;
    }

    #middle-part h2{
        font-size: 25px;
        padding: 60px 0 20px 0;
    }

    #middle-part img {
        width: 350px;
        margin: 20px 0 0 0;
    }
}

@media (min-width: 651px) and (max-width: 825px) {
    .game-border-bottom div:nth-child(2) div:nth-child(2), 
    .game-border-bottom div:nth-child(2) div:nth-child(3) {
        display: none;
    }

    #middle-part {
        height: 82%;
    } 

    h1{
        font-size: 40px;
        margin: 10% 15% 10% 15%;
        padding-top: 80px;
    }

    #middle-part p {
        font-size: 16px;
        margin: 0 13% 5% 13%;
    }
    
    #middle-part h3 {
        font-size: 14px;
        margin: 10% 12% 7% 10%;
    }

    #start-screen button {
        font-size: 14px;
        padding: 18px 30px;
    }

    #div-images{
        flex-direction: column;
    }

    #middle-part h2{
        font-size: 25px;
        padding: 60px 0 20px 0;
    }

    #middle-part img {
        width: 350px;
        margin: 20px 0 0 0;
    }
}

@media (min-width: 826px) and (max-width: 1200px) {
    #middle-part {
        height: 82%;
    } 

    h1{
        font-size: 45px;
        margin: 8% 15% 10% 15%;
        padding-top: 80px;
    }

    #middle-part p {
        font-size: 17.5px;
        margin: 0 13% 6% 13%;
    }
    
    #middle-part h3 {
        font-size: 15px;
        margin: 7% 12% 7% 10%;
    }

    #div-images{
        flex-direction: column;
    }

    #middle-part h2{
        font-size: 25px;
        padding: 60px 0 20px 0;
    }

    #middle-part img {
        width: 350px;
        margin: 20px 0 0 0;
    }
}

@media (min-width: 1201px) and (max-width: 1500px) {
    /* #middle-part {
        width: 70%;
        height: 80vh;
        margin: 2% 15% 4% 15%;
    } 

    h1{
        font-size: 45px;
        margin: 5% 18% 5% 18%;
        padding-top: 40px;
    }

    #middle-part p {
        font-size: 16px;
        margin: 0 15% 3% 15%;
    }
    
    #middle-part h3 {
        font-size: 13px;
        margin: 4% 12% 4% 10%;
    }


    #start-screen button {
        font-size: 14px;
        /* padding: 18px 30px;
    }  */

}

@media (min-width: 1850px) {

    #middle-part {
        width: 60%;
        height: 75%;
        margin: 4% 20% 0 20%;
    } 

    h1 {
        font-size: 60px;
        margin: 0 20% 5% 20%;
    }

    #middle-part p {
        font-size: 20px;
        margin: 0 22% 2% 22%;
    }

    #middle-part h3 {
        margin: 3% 12% 2.5% 10%;
    }


}
