@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@500&family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');


/* general  */
* { 
    margin:0; 
    padding:0; 
} 

html, body { 
    width:100%; 
    height:100%; 

} 

button:focus {
    outline:0;
}

#container {
    position: relative;
}

/* start screen elements */
#start-screen {
    position: fixed;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-color: white; */
    background:linear-gradient(10deg, rgba(244,235,160,1) 43%,rgba(192,250,202,1) 43%);
    border: none;
}

#middle-part {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* margin-bottom: 50px; */
}


h1 {
    font-family: 'Slackey';
    color: #f4829a;
    text-align: center;
    font-size: 4vh;
    line-height: 95%;
    padding: 5% 15% 0% 15%;
}


#middle-part p {
    font-family:  'Open Sans', sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 2vh;
    margin: 0% 18%;
    line-height: 200%;
    color: gray;
}

#middle-part h3 {
    font-family:  'Open Sans', sans-serif;
    text-align: center;
    font-size: 1.5vh;
    line-height: 200%;
    color: #f1a725;
    font-weight: 400;
}

#start-screen button {
    font-family: 'Open Sans';
    font-size: 1.5vh;
    background-color: transparent;
    border: 1px solid #f4829a;
    padding: 15px 30px;
    color: #f4829a;
    border-radius: 30px;
    margin-bottom: 10%;
    text-decoration:  none;
}

/* loading screen */
#div-images{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#middle-part img {
    width: 280px;
    margin-bottom: 4vh;
}

#middle-part h2{
    font-family:  'Open Sans', sans-serif;
    text-align: center;
    font-size: 3vh;
    font-weight: 400;
    margin: 10% 20% 10% 20%;
    padding-top: 18%;
    line-height: 150%;
    color: gray;
}

#middle-part h4 {
    font-family:  'Open Sans', sans-serif;
    text-align: center;
    font-size: 2.5vh;
    font-weight: 300;
    margin: 0 20% 35% 20%;
    line-height: 200%;
    color: gray;
}


/* canvas */
#canvas {
    background:linear-gradient(10deg, rgba(244,235,160,1) 43%,rgba(192,250,202,1) 43%);
    display: block;
    cursor: url(./icons/cursor_spaghetti.cur), url(./icons/cursor_spaghetti.png), none;
}

/* top border breakout room */
.game-border-top{
    background-color: #f4829a;
    border-bottom: 1px solid lightgray; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 22px;
}

.game-border-top p {
    color: white;
    font-family: 'Slackey';
    font-size: 0.8rem;
    text-align: center;
    padding-top: 3px;
    letter-spacing: 0.8px;
}

/* breakout room buttons */
.game-border-bottom{
    background-color: #f4829a;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.7rem;
    text-align: center;
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    border-top: 1px solid lightgrey;

}

.game-border-bottom img {
    width: 40px;
    padding: 0 25px;
}

.icons {
    display: flex;
}

.icons.div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.game-border-bottom button {
    /* margin-right: 30px; */
    background-color: #4dd3d5;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#first-icons img{
    padding: 0 10px 0 16px;
}

/* gameover screen */
#gameOver-screen {
    position: absolute;
    font-weight: 900;
    color: rgba(244,235,160,1) ;
    text-align: center;
    font-family: 'Slackey';
    left: 50%;
    top: 50%;
    font-size: 6em;
  }
  
#gameOver-screen .letter {
    display: inline-block;
    line-height: 1em;
}


@media (max-width: 650px) {
    .game-border-bottom div:nth-child(2) div:nth-child(2), 
    .game-border-bottom div:nth-child(2) div:nth-child(3),
    .game-border-bottom div:nth-child(2) div:nth-child(4) {
        display: none;
    }

    #div-images{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    
}

@media (min-width: 651px) and (max-width: 825px) {
    .game-border-bottom div:nth-child(2) div:nth-child(2), 
    .game-border-bottom div:nth-child(2) div:nth-child(3) {
        display: none;
    }

    #middle-part {
        width: 75%;
        height: 80%;
        margin: 5% 12.5% 10% 12.5%;
    }

    #start-screen button {
        margin-bottom: 0%;
    }

    #div-images{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #middle-part h2{
        font-size: 3vh;
        margin: 18% 25% 5% 25%;
    }
}

@media (min-width: 826px) and (max-width: 1200px) {

    #middle-part {
        width: 75%;
        height: 78%;
        margin: 5% 12.5% 10% 12.5%;
    }

    #start-screen button {
        margin-bottom: 0%;
    }

    #div-images{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #middle-part h2{
        font-size: 3vh;
        margin: 18% 25% 5% 25%;
    }
}

@media (min-width: 1201px) and (max-width: 1500px) {

    #middle-part {
        width: 75%;
        height: 78%;
        margin: 5% 12.5% 10% 12.5%;
    }

    #start-screen button {
        margin-bottom: 0%;
    }

    #middle-part p {
        margin: 0% 20%;
    }

    h1 {
        line-height: 120%;
        padding: 5% 25% 0% 25%;
    }

    #middle-part img {
        width: 350px;
        margin-bottom: 6vh;
        padding: 20px 20px;
    }

    #middle-part h2{
        margin: 20% 30% 5% 30%;
        /* padding-top: 15%; */
    }

}

@media (min-width: 1500px) {

    #middle-part {
        width: 65%;
        height: 75%;
        margin: 4% 17.5% 10% 17.5%;
    }

    #start-screen button {
        margin-bottom: 0%;
    }

    #middle-part p {
        margin: 0% 20%;
    }

    h1 {
        line-height: 120%;
        padding: 5% 25% 0% 25%;
    }

    #middle-part img {
        width: 350px;
        margin-bottom: 6vh;
        padding: 20px 20px;
    }

    #middle-part h2{
        margin: 25% 30% 5% 30%;
        /* padding-top: 15%; */
    }

} 
