@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@500&family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

  

/* general  */
* { 
    margin:0; 
    padding:0; 
} 

html, body { 
    width:100%; 
    height:100%; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 62.5%;
    color: black;
} 

button:focus {
    outline:0;
}

#container {
    position: relative;
}

/* start screen elements */
#start-screen {
    position: fixed;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(10deg, rgba(244,235,160,1) 43%, rgba(192,250,202,1) 43%);
    border: none;
}

#middle-part {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

h1 {
    font-family: 'Slackey';
    color: #f4829a;
    text-align: center;
    font-size: 2.6rem;
    line-height: 3rem;
    margin-top: 5vh;
}

#middle-part h1 span {
    font-size: 3rem;
    color:  #f4829a;
}

#middle-part p {
    font-family:  'Open Sans', sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2.8rem;
    margin: 0 10vw;
}

#middle-part h3 {
    font-family:  'Open Sans', sans-serif;
    text-align: center;
    font-size: 1.3rem;
    line-height: 200%;
    color: #f1a725;
    font-weight: 600;
}

#middle-part p:nth-last-of-type(1){
    font-size: 1.2rem;
}

#middle-part span {
    color:#f1a725;
    font-weight: 600;
}

#start-screen button {
    font-family: 'Open Sans';
    font-size: 1.3rem;
    background-color: transparent;
    border: 1.5px solid #54c968;
    padding: 15px 30px;
    color: #54c968;
    font-weight: 400;
    border-radius: 30px;
    text-decoration:  none;
}

/* loading screen */
#div-images{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

#middle-part img {
    width: 280px;
    margin-bottom: 4vh;
}

#middle-part h2{
    font-family:  'Open Sans', sans-serif;
    text-align: center;
    font-size: 2.6rem;
    font-weight: 400;
    margin: 10vh 20vw 6vh 20vw;
    padding-top: 18vh;
    line-height: 150%;
}

#middle-part h4 {
    font-family:  'Open Sans', sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    margin: 0 20vw 30vh 20vw;
    line-height: 200%;
}


/* canvas */
#canvas {
    background:linear-gradient(10deg, rgba(244,235,160,1) 43%,rgba(192,250,202,1) 43%);
    display: block;
    cursor: url(./icons/cursor_spaghetti.cur), url(./icons/cursor_spaghetti.png), none;
}

/* top border breakout room */
.game-border-top{
    background-color: #47b7b9;
    border-bottom: 1px solid lightgray; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 22px;
}

.game-border-top p {
    color: whitesmoke;
    font-family: 'Slackey';
    font-size: 1.1rem;
    text-align: center;
    padding-top: 3px;
    letter-spacing: 0.8px;
}

/* breakout room buttons */
.game-border-bottom{
    background-color: #47b7b9;
    color: whitesmoke;
    font-size: 0.7rem;
    text-align: center;
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    border-top: 1px solid lightgrey;
}

.game-border-bottom img {
    width: 40px;
    padding: 0 25px;
}

.icons {
    display: flex;
}

.icons.div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.game-border-bottom button {
    /* margin-right: 30px; */
    background-color: #f1a725;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 700;
}

#first-icons img{
    padding: 0 10px 0 16px;
}

/* gameover & winner screen */
#gameOver-screen,
#winner-screen {
    position: absolute;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}


#gameOver-screen h2,
#winner-screen h2 {
    position: absolute;
    top: 25%;
    color: #f4829a;
    font-size: 6rem;
    font-family: 'Slackey';
    overflow: hidden;
    white-space: nowrap;
    animation: type 2s steps(30, end);
}

.div-scores {
    position: absolute;
    top: 50%;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.div-scores p {
    font-family: 'Open Sans';
    font-size: 1.6rem;
    color:  #f1a725;
    padding-bottom: 3.6rem;
    text-align: center;
}

.div-scores h4 {
    font-family: 'Open Sans';
    font-size: 1.3rem;
    color: black;
    padding-bottom: 1.3rem;
    text-align: center;
    font-weight: 400;
}

.div-scores h4 span{
    color:  #47b7b9;
    font-family: 'Slackey';
    font-size: 2rem;
}

#div-buttons {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    top: 70%;
    margin-top: 10vh;
}

#gameOver-screen button,
#winner-screen button {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 1.3rem;
    background-color: transparent;
    border: 1px solid #f4829a;
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    width: 200px;
    margin-right: 15px;
}

#gameOver-screen button:first-child,
#winner-screen button:first-child {
    border: 1.5px solid #54c968;
    color: #54c968;
}

#gameOver-screen button:last-child,
#winner-screen button:last-child {
    color: #f1a725;
    border: 1.5px solid #f1a725;
}


@keyframes type{
    from { width: 0}
    to { width: 40% }
}


@media (max-width: 650px) {
    .game-border-bottom div:nth-child(2) div:nth-child(2), 
    .game-border-bottom div:nth-child(2) div:nth-child(3),
    .game-border-bottom div:nth-child(2) div:nth-child(4) {
        display: none;
    }
}

@media (min-width: 651px) and (max-width: 825px) {
    .game-border-bottom div:nth-child(2) div:nth-child(2), 
    .game-border-bottom div:nth-child(2) div:nth-child(3) {
        display: none;
    }

    h1 {
        font-size: 3.2rem;
        line-height: 3.2rem;
    }

    #middle-part h1 span {
        font-size: 3.6rem;
    }

    #middle-part p {
        margin: 0 17vw;
    }

    #gameOver-screen h2,
    #winner-screen h2 {
        font-size: 7rem;
    }
}

@media (min-width: 826px) and (max-width: 1200px) {
    h1 {
        font-size: 3.6rem;
        line-height: 3.6rem;
    }

    #middle-part h1 span {
        font-size: 4rem;
    }

    #middle-part p {
        margin: 0 22vw;
        font-size: 1.5rem;
    }

    #middle-part p:nth-last-of-type(1){
        font-size: 1.3rem;
    }

    #div-images{
        flex-direction: row;
    }

    #div-images img{
        margin: 10vh 3vw;
    }

    #gameOver-screen h2,
    #winner-screen h2 {
        font-size: 8rem;
    }
}

@media (min-width: 1201px) and (max-width: 1450px) {
    h1 {
        font-size: 3.8rem;
        line-height: 3.8rem;
    }

    #middle-part h1 span {
        font-size: 4.2rem;
    }

    #middle-part p {
        margin: 0 25vw;
        font-size: 1.5rem;
    }

    #middle-part p:nth-last-of-type(1){
        font-size: 1.3rem;
    }


    #div-images{
        flex-direction: row;
    }

    #div-images img{
        margin: 10vh 3vw;
    }

    #gameOver-screen h2,
    #winner-screen h2 {
        font-size: 9rem;
    }


    .div-scores p {
        font-size: 2rem;
        padding-bottom: 6vh;
    }

    .div-scores h4 {
        font-size: 1.6rem;
    }
    
    .div-scores h4 span{
        font-size: 2.3rem;
    }

}


@media (min-width: 1451px) {
    h1 {
        font-size: 4rem;
        line-height: 4rem;
    }

    #middle-part h1 span {
        font-size: 4.8rem;
    }

    #middle-part p {
        margin: 0 30vw;
        font-size: 1.6rem;
    }

    #middle-part p:nth-last-of-type(1){
        font-size: 1.4rem;
    }


    #div-images{
        flex-direction: row;
    }

    #div-images img{
        margin: 10vh 3vw;
    }

    #gameOver-screen h2,
    #winner-screen h2 {
        font-size: 12rem;
    }

    .div-scores p {
        font-size: 2.4rem;
        padding-bottom: 6vh;
    }

    .div-scores h4 {
        font-size: 2rem;                                    
    }
    
    .div-scores h4 span{
        font-size: 2.7rem;
    }

}
 
